<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <h2>Seja bem vindo a loja<b>Resende Multimarcas!</b></h2>
    <table>
        <tr>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/150/veiculos/36182/veiculoInfoVeiculoImagesMobile/vehicle_image_1599849718_23bead5f9657ab0ed571f5fbc1e14148.jpeg" alt=""></td>
            <td><h2>Seja bem-vindo!<br></h2><p>Nosso estoque é composto por mais de 99 carros novos e seminovos!</p><br>
            <img class="carrinho" src="https://cdn-icons.flaticon.com/png/512/5013/premium/5013388.png?token=exp=1638025164~hmac=c33cd51dc765df5b9f590d47d555b179" alt=""></td>
        </tr>
    
        
        <tr>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/258/veiculos/65388/veiculoInfoVeiculoImagesMobile/vehicle_image_1625305666_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
            <td><h2>Revisão e garantia!<br></h2><p>Nossos veículos são revisados, e incluímos garantia total por 90 dias!</p><br>
            <img class="carrinho" src="https://cdn-icons-png.flaticon.com/512/887/887226.png" alt=""></td>
        </tr>
    
        
        
        <tr>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/182/veiculos/46850/veiculoInfoVeiculoImagesMobile/vehicle_image_1607371756_e2bbe5af4ae5be17322b2d0b5866595c.jpeg" alt=""></td>
            <td><h2>Fincançeiro e serviços!<br></h2><p>Temos parceria com todos os bancos, e despachante local!</p><br>
            <img class="carrinho" src="https://cdn-icons-png.flaticon.com/512/2415/2415648.png" alt=""></td>
        </tr>
    
        </table>
        
</body>
</html>
