<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
    <div class="breadcrumb">
        <ul>
            <li><a routerLink=""><h1>Home   /</h1></a></li>
        
            <li>
                <b><p id="nissan">{{title}}</p></b>
            </li>
        </ul>
    </div>
    <table>
        <tr>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/182/veiculos/70940/veiculoInfoVeiculoImagesMobile/vehicle_image_1629223392_201928759993c6c8da58264bfe736469.jpeg" alt=""></td>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/231/veiculos/47954/veiculoInfoVeiculoImagesMobile/vehicle_image_1608266973_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/150/veiculos/36926/veiculoInfoVeiculoImagesMobile/vehicle_image_1600893261_80b2f2fb183518c6fb6592503359f514.jpeg" alt=""></td>
        </tr>
        
        <tr class="descrição">
            <th>Livina 2010</th>
            <th>Sentra 2014</th>
            <th>Kicks 2017</th>
        </tr>
        
        <tr>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/182/veiculos/62367/veiculoInfoVeiculoImagesMobile/vehicle_image_1622740330_e3db15dc24320907b918a7bf18b1fa94.jpeg" alt=""></td>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/171/veiculos/27777/veiculoInfoVeiculoImagesMobile/vehicle_image_1592516219_73859a0a5bed17a1c1f76fe6a67b172a.jpeg" alt=""></td>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/257/veiculos/35933/veiculoInfoVeiculoImagesMobile/vehicle_image_1599286523_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
        </tr>
        
        <tr class="descrição">
            <th>Versa 2018</th>
            <th>Frontier 2010</th>
            <th>March 2016</th>
        </tr>
        
        <tr>
            <td><img src="https://s3.ecompletocarros.dev/images/lojas/182/veiculos/63816/veiculoInfoVeiculoImagesMobile/vehicle_image_1624053141_5284d552b23efd593a80859f8bef6b00.jpeg" alt=""></td>
            <td><img src="https://seminovogarantido.com.br/lua4auto/public/uploads/seminovos/veiculo_5207_5ddd54fd487dd.jpeg" alt=""></td>
            <td><img src="https://cdn.revendamais.com.br/FC/2660/2563381_7_M_6556e32588.jpg" alt=""></td>
        </tr>
        
        <tr class="descrição">
            <th>Tiida 2011</th>
            <th>Grand livina 2012</th>
            <th>Sentra cvt 2009</th>
        </tr>
        
        <tr>
            <td><img src="https://imganuncios.mitula.net/nissan_gt_r_2010_gasolina_nissan_gt_r_3_8_premium_v6_24v_bi_turbo_gasolina_2p_8610068630067884523.jpg" alt=""></td>
        </tr>
        
        <tr class="descrição">
            <th>GT-R 2011</th>
        </tr>
        </table>
        
 </body>
 </html>