<nav class="menuLateral">
   <ul>
    <li><a [routerLink] ="['/chevrolet']">Chevtrolet</a></li>
    
    <li><a [routerLink] = "['/volkswagen']">Volkswagen</a></li>

    <li><a [routerLink] = "['/fiat']">Fiat</a></li>

    <li><a [routerLink] = "['/nissan']">Nissan</a></li>

    <li><a [routerLink] = "['/audi']">Audi</a></li>

    <li><a [routerLink] = "['/bmw']">BMW</a></li>

    <li><a [routerLink] = "['/honda']">Honda</a></li>
  
    <li><a [routerLink] = "['/toyota']">Toyota</a></li>
    
    <li><a [routerLink] = "['/mercedes-benz']">Mercedes-benz</a></li>
 
    <li><a [routerLink] = "['/hyundai']">Hyundai</a></li>

   </ul>
</nav>
