<div class="breadcrumb">
    <ul>
        <li><a routerLink=""><h1>Home   /</h1></a></li>
    
        <li>
            <b><p id="fiat">{{title}}</p></b>
        </li>
    </ul>
</div>

<table>
    <tr>
        <td><img src="https://s3.ecompletocarros.dev/images/lojas/274/veiculos/41299/veiculoInfoVeiculoImagesMobile/vehicle_image_1603912710_9eb9a8ac0be4b2185a280b3c6e384acb.jpeg" alt=""></td>
        <td><img src="https://s3.ecompletocarros.dev/images/lojas/125/veiculos/57648/veiculoInfoVeiculoImagesMobile/vehicle_image_1618254896_94856da836f02f166b8d0350d08a4d53.jpeg" alt=""></td>
        <td><img src="https://img.clasf.com.br/2019/04/08/Fiat-Bravo-Sporting-1-8-Dualogic-Flex-16v-5p-20190408140550.4440570015.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Idea Attractive 2015</th>
        <th>Uno mille 2011 </th>
        <th>Bravo Sporting 2013</th>
    </tr>
    
    <tr>
        <td><img src="https://media.lojaconectada.com.br/fotos/524/120833-fiat-cronos-20210222160015996335.jpg" alt=""></td>
        <td><img src="https://s3.ecompletocarros.dev/images/lojas/258/veiculos/63905/veiculoInfoVeiculoImagesMobile/vehicle_image_1624177890_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
        <td><img src="https://www.valeautoshopping.com.br/uploads/carros/QIB3987/thumb825-862662.jpg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Cronos Drive 2019</th>
        <th>Toro Freedom 2018</th>
        <th>Mobi 2019</th>
    </tr>
    
    <tr>
        <td><img src="https://s3.ecompletocarros.dev/images/lojas/182/veiculos/46850/veiculoInfoVeiculoImagesMobile/vehicle_image_1607371756_e2bbe5af4ae5be17322b2d0b5866595c.jpeg" alt=""></td>
        <td><img src="https://dsae.s3.amazonaws.com/16526145000322/Fotos/QWX-7402_01.jpg?u=20210519160839" alt=""></td>
        <td><img src="https://s3.ecompletocarros.dev/images/lojas/222/veiculos/37024/veiculoInfoVeiculoImagesMobile/vehicle_image_1600778480_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Fiat 500 2012</th>
        <th>Strada 2019</th>
        <th>Freemont 2013</th>
    </tr>
    
    <tr>
        <td><img src="https://s3.ecompletocarros.dev/images/lojas/125/veiculos/43458/veiculoInfoVeiculoImagesMobile/vehicle_image_1604512121_2124b90cbb6628a74e64d8b3a222211d.jpeg" alt=""></td>
    </tr>
    
    <tr class="descrição">
        <th>Palio attractive 2013</th>
    </tr>
    </table>
    