<div class="breadcrumb">
    <ul>
        <li><a routerLink=""><h1>Home   /</h1></a></li>
    
        <li>
            <b><p id="chevrolet">{{title}}</p></b>
        </li>
    </ul>
</div>

<table>
<tr>
    <td><img src="https://static2.meucarronovo.com.br/fotos/veiculos/1008759/8087111/onZyW66e7.jpg" alt=""></td>
    <td><img src="https://fotos.socarrao.com.br/189693/4500576/4500576TS_1631309158_36_830.jpg" alt=""></td>
    <td><img src="https://imganuncios.mitula.net/medium/chevrolet_corsa_2009_flex_chevrolet_corsa_maxx_1_4_flex_dhvete_alarme_impecavel_1920125629464494711.jpg" alt=""></td>
</tr>

<tr class="descrição">
    <th>Celta LT 2015</th>
    <th>Meriva Maxx 2009</th>
    <th>Corsa Joy 2012</th>
</tr>

<tr>
    <td><img src="https://images.usadosbr.com/manipulatedImages/media/gallery/e0/e7/86/chevrolet-prisma-1-4-lt-8v-3-2019-sao-paulo-bce46bf5-P8-image-300x225-crop.jpeg" alt=""></td>
    <td><img src="https://s3.ecompletocarros.dev/images/lojas/207/veiculos/32761/veiculoInfoVeiculoImagesMobile/vehicle_image_1596697211_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
    <td><img src="https://img0.icarros.com/dbimg/imgadicionalanuncio/1/219861549_1" alt=""></td>
</tr>

<tr class="descrição">
    <th>Prisma LT 2018</th>
    <th>Tracker LTZ 2015</th>
    <th>Equinox Premier 2018</th>
</tr>

<tr>
    <td><img src="https://media.lojaconectada.com.br/fotos/77/134522-chevrolet-onix-20210629165701709380.jpeg" alt=""></td>
    <td><img src="https://s3.ecompletocarros.dev/images/lojas/182/veiculos/17535/veiculoInfoVeiculoImagesMobile/vehicle_image_1600104814_bcc8bc520fcf7231c3a8840bdb64f00e.jpeg" alt=""></td>
    <td><img src="https://s3.ecompletocarros.dev/images/lojas/231/veiculos/64143/veiculoInfoVeiculoImagesMobile/vehicle_image_1624433615_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
</tr>

<tr class="descrição">
    <th>Oix premier 2020</th>
    <th>Spin LTZ 2018</th>
    <th>Sonic 2013</th>
</tr>

<tr>
    <td><img src="https://s3.ecompletocarros.dev/images/lojas/223/veiculos/24004/veiculoInfoVeiculoImagesMobile/vehicle_image_1589874342_d41d8cd98f00b204e9800998ecf8427e.jpeg" alt=""></td>
</tr>

<tr class="descrição">
    <th>Vectra Elegance 2011</th>
</tr>
</table>
